/* styles.css */


/* background image adjusts with taskpane size */
body { 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #faf8f8;
    background-image: url('https://foresaa.github.io/MSTPADDIN/bkgrnd.png');
    background-size: cover;
    background-position: center;
}


.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

header {
    text-align: center;
    padding: 20px 0;
    font-style: oblique;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.intro, .instructions {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #787171;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

a {
    color: #f5f6f8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
    color: #555;
}
